/*
Pizzashop css stylesheet
Author :  Bart Plaetevoet
VDAB PHP EindProject Pizzashop
*/
/* @font-face kit by Fonts2u */ 
@font-face {
    font-family:"akaDora";
    src:url("http://localhost/pizzashop/fonts/akaDora.woff"),
        url("http://localhost/pizzashop/fonts/akaDora.eot?") format("eot"),
        url("http://localhost/pizzashop/fonts/akaDora.ttf") format("truetype"),
        url("http://localhost/pizzashop/fonts/akaDora.svg#akaDora") format("svg");
    font-weight:normal;
    font-style:normal;
}
/************************* BODY ***********************************************/
body {
  /*background-color: #cc6600;*/
  background-color: #fffaf0;
  color: darkslategray;
}
.container {
  width: 96%;
  margin: 0 auto;
  clear: both;
}
ul {
    margin: 0px;
    padding: 0px;
  
}
li {
    list-style-type: none;
}
/********************** HEADER ************************************************/
header {
    background-color: #282828;
    width: 100%;  
    color: white;
}
.topbar{
    background-color: #282828;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}
.header-content{
    margin-top:20px;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 6px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 6px rgba(119, 119, 119, 0.75);
}
/********** navigatie custom color ********************************************/
#hoofdmenu li {
    display: inline-block;
    width:50%;
    float:left;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs > li > a {
    border: none;
    border-radius: 0;
    color:white;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color:#cc6600;
}
.pizzavlag {
    width:100%;
    margin-bottom: 40px;
}
.pizzavlag li {
    paddin-top:5px;
    padding-bottom: 5px;
}
.pizzagreen {
    background-color: green;
    border: 5px solid brown;
    border-right: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding:10px;
    margin-bottom: 20px;
    color: white;
}
.pizzawhite {
    border-bottom: 5px solid brown;
    border-top: 5px solid brown;
    padding: 10px;
    background-color: white;
    color: #282828;
    margin-bottom: 20px;
}
.pizzared {
    background-color: darkred;
    color: white;
    border: 5px solid brown;
    border-left: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.container-xs-height{
    display:table;
    padding-left:0px;
    padding-right:0px;
 }
.row-xs-height{
      display:table-row;
}
.col-xs-height{
      display:table-cell;
      float:none;
}
.pizzagreen span.ingredients{
    color: lavender;
    font-size: 0.8em;
}
.pizzagreen >h2.pizzahead, .pizzared >h2.pizzahead{
    color:white;
    text-align: center;
}
.pizzawhite >h2.pizzahead{
    color: inherit;
    text-align: center;
}
.pizzahead {
    font-family: akaDora;
    color: darkslategray;
}
.pizzahead > .label {
    font-family: Arial, sans-serif, helvetica;
    font-size: 16px;
}
a.delete, a.logoff{
    background-color: #F0AD4E;
    display:inline-block;
    padding: 0.2em 0.6em 0.3em;
    font-size:75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space:nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
a.delete:hover, a.logoff:hover{
    text-decoration: none;
    background-color: #cc6600;
    
}
a.tags:nth-child(even){
    color:yellowgreen;
}
a.tags:nth-child(odd){
    color:#fff;
}

.thanx {
    font-family: akaDora;
    color: darkslategray;
    font-size : 750%;
}
.ingredients {
    font-style: italic;
    font-size : 75%;
    color: inherit;
}
ul.pizza > li{
    clear: both;
}
.pizzalijst {
    overflow:auto;
    border-bottom:1px solid black;
    padding-bottom: 10px;
}
li.pizzalijst > img{
    float:left;
}
li.pizzalijst >p > a > button.pizza-btn{
    margin-bottom: 10px;
    float: right;
}
.pizza-img {
    width: 100%;
}
.img-logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.cartItems{
    margin-top: 3em;
    text-align: right;
}
.cartItems >h2 {
    color: #fff;
}
.gb-items {
    display: inline-block;
    width:80%;
    padding:1.2em;
    margin:10px ;
}
.gb-items .row:nth-child(odd){
    padding: 20px;
    background-color:#fff;
    border-left: 2px solid darkred;
    border-right:2px solid darkred;
    border-bottom: 1px solid lightsalmon;
}
.gb-items .row:nth-child(even){
    padding: 20px;
    background-color: #fffaf0;
    border-left: 2px solid darkred;
    border-right: 2px solid darkred;
    border-bottom: 2px solid darkred;
}
.gb-items .row:first-child{ 
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-top: 2px solid darkred;
    
    border-bottom: 1px solid lightsalmon;
}
.gb-items  .row:last-child{    
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;
}
/******************* Formulieren  & Buttons ***********************************/
.pizzaform {
    padding: 25px 0;
}
.loginform{
    margin-top : 50px;
    padding-top: 50px;
    padding-bottom:50px;
    background-color: rgba(255,255,255,0.5);
    border-radius : 4px;
    border: 1px solid brown;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}
.pizza-btn{
    background-color:#cc6600;
    color: #fff;
    margin: 0px 5px;
    float: right;
}
.pizza-btn:hover{
    background-color:#994d00;
    color: #fff;;
}
a .pizza-btn, a:hover .pizza-btn {
    color:white;
}
/******************** FOOTER **************************************************/
footer{
    padding:20px;
    background-color: #282828;
    color: white;
    margin-top: 25px;
}
footer .pizzahead{
    color: white;
}
address >ul {
    list-style-type: none;
}
/************************Social networking icons******************************/
ul#social-networking a li{
    background-image: url('../images/social-media-icons.png');
    background-size: 330px 60px;
    height: 30px;
    width: 30px;
   /* Placing the icons */
    float: right;
    list-style-type: none;
    margin-right: 2%;
    float: left;	
}
ul#social-networking a li.linkedin{background-position: -180px 0;}
ul#social-networking a li.linkedin:hover {background-position: -180px -30px;}

ul#social-networking a li.facebook {background-position: 0px 0px;}
ul#social-networking a li.facebook:hover{background-position: 0 -30px;}

#social-networking a li.twitter{background-position: -240px 0px;}
#social-networking a li.twitter:hover {background-position: -240px -30px;}

/***********************  SIZE AANPASSINGEN ***********************************/
@media(min-width: 640px){
    /* menu fixed bovenaan vanaf 640px */
   .topbar{
        position:fixed;
        z-index:10;
        top: 0;
        left: 0;
        width: 100%;
    }
    .container {
        width:80%;
    }
    #hoofdmenu li{
        width: auto;
    }
    .pizza-img {
        width:200px;
        height: 76px;
        float: left;
    }
}