/*
Pizzashop css stylesheet
Author :  Bart Plaetevoet
VDAB PHP EindProject Pizzashop
*/
/* @font-face kit by Fonts2u */ 
@font-face {
    font-family:"akaDora";
    src:url("http://localhost/pizzashop/fonts/akaDora.eot?") format("eot"),
        url("http://localhost/pizzashop/fonts/akaDora.woff") format("woff"),
        url("http://localhost/pizzashop/fonts/akaDora.ttf") format("truetype"),
        url("http://localhost/pizzashop/fonts/akaDora.svg#akaDora") format("svg");
    font-weight:normal;
    font-style:normal;
}
/************************* BODY ***********************************************/
body {
  /*background-color: #cc6600;*/
  background-color: #fffaf0;
  color: darkslategray;
}
.container {
  width: 80%;
  margin: 0 auto;
  clear: both;
}
/**** zet alle li items zonder list-style-type ***/
li {
    list-style-type: none;
}
/********************** HEADER ************************************************/
header {
    background-color: #282828;
    width: 100%;  
    color: white;
}
.topbar{
    background-color: #282828;
    position:fixed;
    z-index:10;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}
.header-content{
    margin-top:20px;
    background-image: url(../images/pizza9.jpg);
    background-size: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}
/********** navigatie custom color ********************************************/
.nav-tabs {
    border-bottom: none;
}
.nav-tabs > li > a {
    border: none;
    border-radius: 0;
    color:white;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color:#cc6600;
}
.pizzavlag {
    margin-bottom: 40px;
}
.pizzavlag li {
    paddin-top:5px;
    padding-bottom: 5px;
    font-size: 1.2em;
}
.pizzagreen {
    background-color: green;
    border: 5px solid brown;
    border-right: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding:10px;
    margin-bottom: 20px;
    color: white;
}
.pizzawhite {
    border-bottom: 5px solid brown;
    border-top: 5px solid brown;
    padding: 10px;
    background-color: white;
    color: #282828;
    margin-bottom: 20px;
}
.pizzared {
    background-color: darkred;
    color: white;
    border: 5px solid brown;
    border-left: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.container-xs-height{
    display:table;
    padding-left:0px;
    padding-right:0px;
 }
.row-xs-height{
      display:table-row;
}
.col-xs-height{
      display:table-cell;
      float:none;
}
.pizzagreen span.ingredients{
    color: lavender;
    font-size: 0.8em;
}
.pizzagreen >h2.pizzahead, .pizzared >h2.pizzahead{
    color:white;
    text-align: center;
}
.pizzawhite >h2.pizzahead{
    color: inherit;
    text-align: center;
}
.pizzahead {
    font-family: akaDora;
    color: darkslategray;
}
.pizzahead > .label {
    font-family: Arial, sans-serif, helvetica;
    font-size: 16px;
}
.thanx {
    font-family: akaDora;
    color: darkslategray;
    font-size : 750%;
}
.ingredients {
    font-style: italic;
    font-size : 75%;
    color: inherit;
}
ul.pizza > li{
    clear: both;
}
.pizzalijst {
    overflow:auto;
    border-bottom:1px solid black;
    padding-bottom: 10px;
}
li.pizzalijst > img{
    float:left;
}
li.pizzalijst >p > a > button.pizza-btn{
    margin-bottom: 10px;
    float: right;
}
.pizza-img {
    width:200px;
    height: 76px;
    float: left;
}
.img-logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.cartItems{
    text-align: right;
}

/******************* Formulieren  & Buttons ***********************************/
.pizzaform {
    padding: 25px 0;
}
.loginform{
    margin-top : 50px;
    padding-top: 50px;
    padding-bottom:50px;
    background-color: rgba(255,255,255,0.5);
    border-radius : 4px;
    border: 1px solid brown;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}
.pizza-btn{
    background-color:#cc6600;
    margin: 0px 0px;
}
.pizza-btn:hover{
    background-color:#994d00;
}
a .pizza-btn, a:hover .pizza-btn {
    color:white;
}
/******************** FOOTER **************************************************/
footer{
    padding:20px;
    background-color: #282828;
    color: white;
}
footer .pizzahead{
    color: white;
}
address >ul {
    list-style-type: none;
}