{# empty Twig template #}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/pizzastyle.css" />
        <title>PizzaShop</title>
    </head>
    <body>
        {% include 'headerlayout.template.twig' %}
    </body>
</html>