{# contact.twig #}
{% extends 'BaseLayout.template.twig' %}
{% block content %}
    <div class='container'>
        <section class='contact col-xs-10 col-xs-offset-1'>
    <h1>Contact</h1>
    <img class='img-responsive col-xs-12' src='images/googlemap.png'>
    <address>
        <ul>
            <li> Vdab Pizzeria
            <li> Dekemelelaan 29
            <li> 8904 Boezinge
        </ul>
    </address>
        </section>
    </div>
{% endblock %}
