{# headerlayout.template #}
<header>
    <div class="topbar">
        <div class="container">
            <div class="col-xs-7">
            {% include 'topmenu.template.twig' %}
            </div>
            <div class="pull-right">
        {% if login %}Welkom {{ klant.voornaam }} <a class="logoff" href="login.php?actie=uitloggen">Uitloggen{#<button class="btn pizza-btn">Uitloggen</button>#}</a>
        {% else %}
            <a href="index.php?page=login"><button class="btn pizza-btn">Inloggen</button></a>
            <a href="index.php?page=registreer"><button class="btn pizza-btn">Registreren</button></a>
        {% endif %}
            </div>
        </div>
    </div>
    <div class="header-content">
        <div class="container">
           
            <img class='img-logo' src='images/logo.png' />
            
            
        </div>
    </div>
</header>