{# login.twig #}
{% extends 'baselayout.html.twig' %}
{% block content %}
    <div class="container">
    <div class="col-sm-4 col-sm-offset-4 loginform">
        {% if login %}
            Bedankt om in te loggen {{ login.voornaam }} {{login.naam }}<br>
            Klik <a href="index.php?page=home">hier</a> om verder te gaan naar de homepagina.
        {% else %}
            {% if loginerror %}
                <div class="has-error"><span class="help-block">{{ loginerror }}</span></div>
            {% endif %}
    {% include 'loginform.html.twig' %}
    {% endif %}
    </div>
    </div>
{% endblock %}
