{# pizzas.twig #}
{% extends 'BaseLayout.template.twig' %}
{% block content %}
<div class='container'>
    <section class='producten'>
    <h1 class="pizzahead">Menukaart</h1>
    <p>&nbsp;</p>
    <div class="col-md-6">
    <ul>
    {% for item in lijst %}
        <li class="pizzalijst">
            <h2 class="pizzahead">{{ item.naam }}</h2>
            <p class="ingredients">{% for ingredient in item.samenstelling %}{{ ingredient.i_naam }}{% if not loop.last %} , {% endif %}{% endfor %}

            <a href="updatecart.php?action=add&pizza={{ item.id }}"><button class="btn pizza-btn" action="addcart.php" method="post">{{ item.prijs}} &euro;</button></a>
            </p>
        </li>
    {% endfor %}
    <ul>
    </div>
    <aside class="col-sm-6 pull-right cartItems">
    {% include 'cartItems.template.twig' %}
    </aside>
    </section>
</div>
{% endblock content %}