{# topmenu.template.twig #}
    {% set navigation_bar = [['home', 'Home'], ['pizzas', 'Pizzas'], ['promoties', 'Promoties'], ['contact', 'Contact']] -%}

    <nav class="nav-tabs" role="navigation">
    <ul class="nav nav-tabs">
        {% for item in navigation_bar %}
            <li class='item {% if item[1] == active_page %}active{% endif %}'>
                <a href='index.php?page={{ item[0] }}'>{{ item[1] }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>